<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mipapadakis.canvas">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_gray_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_gray_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.Canvas">
        <activity
            android:name=".CanvasActivity"
            android:screenOrientation="fullUser"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullUser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- File extension: .cv -->
            <intent-filter
                android:icon="@drawable/logo"
                android:label="canvas">
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.cv" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--FileProvider - used to securely share canvas images
        https://developer.android.com/guide/topics/manifest/provider-element -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mipapadakis.canvas.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>